{% extends "base.html" %}

{% block head_title %}LogMyRow{% endblock head_title %}

{% block content %}
<section class="addworkout box">
  <h1>Add Workout</h1>
  {% if errors %}
    {{ errors }}
  {% endif %}
  <form method="POST"> {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Save</button>
  </form>
</section>

{% endblock %}

<!-- <input type="text" name="name" placeholder="Your Title"><br />
<input type="text" name="location" placeholder="Location"><br />
<input type="text" name="category" placeholder="Category"><br /> -->
