{% extends "base.html" %}

{% block head_title %}Workouts | {{ block.super }}{% endblock head_title %}

{% block content %}
<h1>My Workouts</h1>
<div class="myrows">

  <div class="myrows__workouts box">
    <div class="myrows__headers">
      <h3>Date</h3>
      <h3>Total Time</h3>
      <h3>Total Meters</h3>
      <h3>Notes</h3>
    </div>
  {% for obj in object_list %}

    <div class="myrows__single">
      <div class="item date"><a class="btn" href="/workouts/{{ obj.id }}/">{{ obj.date }}</a></div>
      <div class="item time"><h3 class="mobile">Total Time</h3><strong>{{ obj.time }}</strong> Minutes </div>
      <div class="item meters"><h3 class="mobile">Total Meters</h3><strong>{{ obj.meters }}</strong> Meters </div>
      <div class="item notes">{{ obj.notes }} </div>
    </div>

  {% endfor %}
  </div>
</div>
{% endblock %}
