/********************
GLOBAL
********************/
body, html {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  box-sizing: border-box;
  background-image: url("/static/img/home.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #000;
  height: 100%;
}

.wrapper {
  padding-bottom: 100px;
}

.container {
  max-width: 1080px;
  width: 100%;
  padding: 0 30px;
}

h1,h2,h3,h4,h5,h6,p,li{
  margin:0;
  padding: 0;
}

h1 {
  font-family: 'Gloria Hallelujah', cursive;
  color: #000;
  font-size: 50px;
  margin-bottom: 15px;
}

h2 {
  font-family: 'Open Sans', sans-serif;
  color: #000;
  border-bottom: 2px solid #000;
  padding-bottom: 3px;
  margin-bottom: 10px;
  font-weight: bold;
}

.btn, button {
  background: #000;
  color: #fff;
  letter-spacing: 1px;
  font-family: 'Open Sans', sans-serif;
  padding: 10px 30px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
  border: 1px solid #000;
  transition: 0.3s;
  text-align: center;
}

.btn:hover, button:hover {
  background: transparent;
  color: #000;
}

form p {
  font-weight: bold;
  padding-bottom: 5px;
}

label {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 20px;
  min-width: 200px;
  color: #000;
}

input, textarea, select {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 20px;
  padding: 2px 4px;
  border-radius: 4px;
  border: 1px solid #999;
  margin-bottom: 3px;
}

textarea {
  width: 100%;
}

input[type="number"] {
  width: 275px;
}

button[type="submit"] {
  font-size: 20px;
  width: 100%;
}

.box {
  background: rgba(255,255,255,0.7);
  border-radius: 10px;
  padding: 30px;
}

.mobile {
  display: none;
}


/********************
HEADER
********************/
header {
  padding: 20px 0 50px;
}

header .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

header .header__left {
  width: 50%;
}

header .header__right {
  width: 50%;
  text-align: right;
}

.logo {
  font-family: 'Gloria Hallelujah', cursive;
  color: #000;
  font-size: 72px;
}

.logo a {
  color: #000;
  text-decoration: none;
}

.logo a:hover {
  color: #000;
}


/********************
HOME/ADD WORKOUT
********************/
.addworkout {
  text-align: center;
  width: 100%;
  max-width: 545px;
  margin: 0 auto;
}

.addworkout form {
  text-align: left;
}

/********************
WORKOUTS LIST
********************/
.myrows {
  width: 100%;
  font-size: 18px;
  margin-top: 25px;
  width: 100%;
}

.myrows__headers {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.myrows__headers h3 {
  width: 25%;
  text-align: left;
  border-bottom: 2px solid #000;
  border-right: 2px solid #000;
  margin-right: 15px;
  margin-bottom: 20px;
  padding-bottom: 5px;
  font-weight: bold;
  color: #000;
}

.myrows__single {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: left;
}

.myrows__single .item {
  width: 25%;
  text-align: left;
  padding-bottom: 20px;
  font-size: 20px;
  color: #000;
}

.myrows__single .item .btn {
  width: 90%;
  padding: 5px;
}

/********************
WORKOUTS DETAIL
********************/
.singleworkout p {
  padding-bottom: 30px;
}

/********************
MOBILE
********************/
@media(max-width: 768px) {
  /* GLOBAL */
  body, html {
    height: auto;
  }
  
  .mobile {
    display: block;
  }

  header .container {
    display: block;
  }

  header .header__left {
    width: 100%;
    text-align: center;
  }

  header .header__right  {
    width: 100%;
    text-align: center;
  }

  .logo {
    font-size: 54px;
    padding-bottom: 35px;
  }

  .btn, button {
    font-size: 14px;
  }

  h1 {
    font-size: 38px;
    text-align: left;
  }

  /* FORM */
  form p {
    padding-bottom: 20px;
  }

  /* LISTING */
  .myrows__headers {
    display: none;
  }

  .myrows__single {
    display: block;
    margin-bottom: 30px;
  }

  .myrows__single .item {
    width: 100%;
  }

  .myrows__single .item h3 {
    color: #000;
    border-bottom: 2px solid #000;
    border-right: 2px solid #000;
    font-weight: bold;
    font-size: 18px;
  }

  .myrows__single .item.notes {
    display: none;
  }

  .myrows__single .item .btn {
    width: 100%;
    font-size: 16px;
  }
}
